In [1]:
import numpy as np
import pandas as pd
from google.cloud import bigquery
import os

In [2]:
# Function to load bigquery API key to allow permissions to use 
# BigQuery client. Function not included with repo (gitignore) to keep the
# API key hidden. Users will have to set up their own project and
# permissions in Google Cloud to run this notebook.

from apiconfig.config import set_bigquery_api_key
set_bigquery_api_key()

Loading BigQuery API Key...
API Key Loaded

In [3]:
sql_query = '''

SELECT 
fullVisitorId,
visitId,
date,
visitNumber,
totals.visits,
totals.hits,
totals.pageviews,
totals.timeOnSite,
totals.bounces,
totals.transactions,
totals.totalTransactionRevenue / 1000000 AS totalTransactionRevenue,
device.deviceCategory,
geoNetwork.country,
trafficSource.source,
channelGrouping
FROM `bigquery-public-data.google_analytics_sample.ga_sessions_*`
WHERE
_TABLE_SUFFIX BETWEEN '20170101' AND '20170331'

'''

In [4]:
client = bigquery.Client(location='US', project='ecommerce-analytics-364919')

query_job = client.query(sql_query)
df = query_job.to_dataframe()

In [5]:
df.head()

,fullVisitorId,visitId,date,visitNumber,visits,hits,pageviews,timeOnSite,bounces,transactions,totalTransactionRevenue,deviceCategory,country,source,channelGrouping
0,7837769211973682944,1487056594,20170213,8,1,3,2,3,<NA>,<NA>,NaN,desktop,Japan,google,Organic Search
1,3895885034803274912,1487021424,20170213,1,1,3,2,6,<NA>,<NA>,NaN,desktop,United States,google,Organic Search
2,6591404145403083484,1487022808,20170213,1,1,3,2,21,<NA>,<NA>,NaN,mobile,Belgium,google,Organic Search
3,8493441812124793426,1487032023,20170213,1,1,3,2,29,<NA>,<NA>,NaN,desktop,United States,google,Organic Search
4,9637725772340958472,1487046048,20170213,1,1,3,2,72,<NA>,<NA>,NaN,desktop,India,google,Organic Search

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196817 entries, 0 to 196816
Data columns (total 15 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   fullVisitorId            196817 non-null  object
 1   visitId                  196817 non-null  Int64
 2   date                     196817 non-null  object
 3   visitNumber              196817 non-null  Int64
 4   visits                   196817 non-null  Int64
 5   hits                     196817 non-null  Int64
 6   pageviews                196803 non-null  Int64
 7   timeOnSite               98057 non-null   Int64
 8   bounces                  98521 non-null   Int64
 9   transactions             2288 non-null    Int64
 10  totalTransactionRevenue  2288 non-null    float64
 11  deviceCategory           196817 non-null  object
 12  country                  196817 non-null  object
 13  source                   196817 non-null  object
 14  channelGrouping          196817 non-null  object
dtypes: Int64(8), float64(1), object(6)
memory usage: 24.0+ MB

In [7]:
df.to_csv('overall_data.csv', index=False)